@font-face {
    font-family: Inter;
    src: url(fonts/Inter-V.ttf);
}

body {
    font-family: Inter;
    background-color: #F2F2F2;
    margin: 5rem 0rem;
}

h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
}

.case p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: white;

}

section {
    width: 1120px;
    margin-bottom: 12.5rem;
    margin: auto;
}

.case {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 1.5rem;
    padding: 2rem;
    font-family: Inter;
    color: white;
    margin-bottom: 0.5rem;
}

.wms {
    background-color: #6B6DF6;
}

.orb {
    background-color:#F66BB6;
    ;
}

.case_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.case_picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 2%;
}

.case_picture img {
    margin: 10%;
}

button {
    background-color: white;
    border-radius: 2rem;
    font-size: 24px;
    padding: 14px 1.5rem;
    border: none;
}

.case_description h1 {
    margin-bottom: 1.5rem;
}

.case_description p {
    margin-bottom: 3rem;
}

.employee {
    display: flex;
    margin-bottom: 0.5rem;
    line-height: 24px;
}

.employee_info {
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9;
    border-radius: 1.5rem;
    padding: 2rem;
    color: black;
    margin-right: 0.5rem;
    width: 65%;
}

.name_and_years {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.responsibilities {
    width: 60%;
}

.employee_photo {
    width: 35%;
    height: 320px;
    /* background: url(media/byndyosoft_era.JPEG);
    background-position: 0 -80px;
    background-size: cover; */
    border-radius: 1.5rem;
}

.bs .employee_photo {
    background: url(media/byndyosoft_era.JPEG);
    background-position: 0 -80px;
    background-size: cover;
    filter: grayscale(100%);
}

.nap .employee_photo {
    background: url(media/nap_era.jpg);
    background-position: 0 0;
    background-size: cover;
    filter: grayscale(100%);
}

.fr .employee_photo {
    background: url(media/fr_era.JPG);
    background-position: 0 0;
    background-size: cover;
    filter: grayscale(100%);
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    color: #666666;
}

.section_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.section_description h1 {
    width: 30%;
    margin: 0 0;
}

.section_description p {
    width: 60%;
    margin: 0 0;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {

    section {
        margin: 0 1rem 6rem;
        width: auto;
    }

    .section_description {
        flex-direction: column;
        align-items: flex-start;
    }

    .section_description h1 {
        width: auto;
        margin-bottom: 0.5rem;
        margin-top: 0;
        font-size: 2rem;
    }

    .section_description p {
        width: auto;
        margin: 0;
        font-size: 1.25rem;
    }

    .employee {
        flex-direction: column-reverse;
        
    }

    .employee_photo {
        width: auto;
    }

    .employee_info {
        flex-direction: column;
        width: auto;
        margin: 0.5rem 0 0 0;
        padding: 1.5rem;
    }

    .name_and_years {
        flex-direction: column;
        width: auto;
        margin-bottom: 2rem;
    }

    .employee_name {
        margin-bottom: 0.25rem;
    }

    .employee a {
        color: black;
    }

    .responsibilities {
        width: auto;
    }
}